/* lato-300 - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300italic - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Light Italic'), local('Lato-LightItalic'),
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300italic.woff') format('woff'), /* Modern Browsers */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//dist.s3.fmt01.sdapi.net/fonts/lato-v11/lato-v11-latin_latin-ext-700.svg#Lato') format('svg'); /* Legacy iOS */
}
