<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  var periodic;
  var setTracker = function() {
      console.log('piwik: Tracker enabled')
      window.App.$store.commit('setTracker', Piwik.getAsyncTracker())
      window.App.$store.getters.Tracker.enableHeartBeatTimer(10);
  }
  var checkApp = function() {
      if (typeof window.App !== 'undefined') {
          setTracker()
          clearInterval(periodic)
      }
  }
  _paq.push(["setDomains", ["__DOMAIN__"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//__ENDPOINT__/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '__SITEID__']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js';
    g.onload = function() {
        if (typeof Piwik !== 'undefined') {
            periodic = setInterval(checkApp, 750)
        }
    }
    s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//__ENDPOINT__/piwik.php?idsite=__SITEID__" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
